page-home {
	#icon{
	color: white;
	}
	.title{
	background-color: #C41919;
	text-color: white;
	}

	@font-face {
	font-family: Avenir;
	}

	body, button, h3, ion-item, ion-title {
	font-family: 'Avenir' !important;
}
}
