page-home {
	.scroll-content {
		background-image: url('../assets/img/login.png');
		background-size: 100%;
		width: 100%;
	}

	.login {
		margin-top: 80%;
		opacity: 0.3;
	}

	.button {
		background-color: #C41919;
	}
	.button:active{
		background-color: #C41919;
	}
	.button:focus{
		background-color: #C41919;
	}

}
