page-profile-modal {
	.button {
		background-color: #C41919;
	}
	.button:active{
		background-color: #E73F3F;
	}
	.button:focus{
		background-color: #E73F3F;
	}
	#icon{
		color: white;
	}
	.title{
		background-color: #C41919;
	}

	@font-face {
		font-family: Avenir;
	}

	body, button, h3, ion-item, ion-title {
		font-family: 'Avenir' !important;
	}
}
