page-profile-template {
	img{
		position: absolute;
	}
	.scroll-content {
		padding: 0 !important;
	}
	#icon{
		color: white;
	}
	.title{
		background-color: #C41919;
	}
	.test {
		position: relative;
		margin-top:114pt;
		margin-left: 8pt;
	}
	.text{
		font-family: Avenir;
		color: white;
		text-align: center;
	}
	h3{
		margin: 0pt;
		font-size: 20pt;
	}
	p{
		margin: 0 auto -1pt;
	}
}
